<button type="button" class="<%= button_classes %>" data-carousel-<%= direction %>>
  <span class="<%= span_classes %>">
    <%= icon_svg.html_safe %>
    <span class="sr-only"><%= direction.to_s.capitalize %></span>
  </span>
</button>